.blog {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'feed feed feed feed sidebar nothing'
    'footer footer footer footer footer footer';
  gap: 4em;
  background-color: #8900e1;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.blog > div {
}

.header {
	text-align: center;
	background-color: #8900e1;
	grid-area: header;
	font-size: 3em;
	border-bottom-style: solid;
	border-color: #57068c;
}

.feed {
	grid-area: feed;
}

.post {
	background-color: #57068c;
	padding: 5px 10px 10px 10px;
	margin-bottom: 20px;
	color: white;
}

.post-title {
	font-size: 2em;
}

.sidebar {
	grid-area: sidebar;
	text-align: center;
	color: white;
	background-color: #330662;
	padding: 5px 10px 10px 10px;
}

#avatar {
	height: 200px;
	width: 200px;
}

.footer {
	grid-area: footer;
	background-color: #8900e1;
	text-align: right;
	border-top-style: solid;
	border-color: #57068c;
}
