body {
	font-family: 'Lato', sans-serif;
}

.header-image{
	max-width: 99%;
  	max-height: 99%;
}

img {
	border-radius: 10px;
	width: 90%;
	margin: 1em;
}

.blog { /* The entire blog is structured with CSS Grid */
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'feed feed feed feed sidebar nothing' /* The nothing tag helps with right-side spacing */
    'footer footer footer footer footer footer';
  gap: 4em;
  background-color: #D8DBE2;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

a:link { /* We only want the links to be underlined and nothing else */
  color: white;
  background-color: transparent;
}

a:visited {
  color: white;
  background-color: transparent;
}

.header {
	text-align: center;
	background-color: #700bb2;
	grid-area: header;
/* 	font-size: 3em; */
/* 	border-bottom-style: solid; */
	border-color: #57068c;
}

.feed {
	grid-area: feed;
}

.post {
	background-color: #57068c; /* This is the exact NYU purple, by the way - for that #violetpride! */
	padding: 0.8em 1em 1em 1em;
	margin-bottom: 2em;
	color: white;
	border-radius: 25px; /* Makes the boxes nice and rounded */
	filter: drop-shadow(5px 5px 10px grey); /* A bit of drop shadow for depth */
}

.post-title {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0;
}

.author {
	margin-bottom: 2em;
}

.image-wrapper { /* Wrapping some posts in an extra flex div allows us to easily put the images next to the text */
	display: flex;
}

#blackmagic {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
}

.sidebar {
	grid-area: sidebar;
	text-align: center;
	color: white;
	background-color: #330662;
	padding: 2em 1.5em 1.5em 1.5em;
	border-radius: 25px;
	filter: drop-shadow(5px 5px 10px black); /* Ditto as with the posts */
}

#avatar {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

#search {
	width: 80%;
	height: 2em;
	margin-top: 4em;
	margin-bottom: 4em;
}

#archive {
	list-style-type: none; /* Remove the list marker */
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#archive li {
	margin-bottom: 1em;
}

.footer {
	grid-area: footer;
	background-color: #330662;
	text-align: right;
	border-top-style: solid;
	border-color: #57068c;
	padding-right: 1.5em;
}
