body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.site {
	position: relative;
}

.header {
	background-color: white;
	color: black;
}

.header-text {
	display: inline-block;
	font-size: 1.5em;
	margin: 0;
	padding: 0 10px 5px 10px;
}

#site-title {
	font-size: 2.5em;
	background-color: black;
	color: white;
	transition: background-color 2s, color 2s;
}

#site-title:hover {
	background-color: white;
	color: black;
}

.video {
	background-color: black;
	text-align: center;
}

#video-file {
	width: 60%;
}

.content {
	margin: 2em 2em 2em 8em;
}

.flexed-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-style: normal;
	margin-bottom: 1.5em;
}

.flexed-row > p {
	margin: 0;
}

.metrics {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 1.5em;
}

.metrics > div {
	margin-right: 10px;
}

.metadata {
	margin-left: auto;
	border-style: solid;
}

.metadata-details {
	display: none;
	position: absolute;
	background-color: white;
	top: 30%;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-style: solid;
	width: 25%;
}

.title {
	font-size: 2em;
}

.author {
	display: flex;
}

.author > p {
	margin-left: 10px;
}

#avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
