body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif; /* A nice, sans serif font for readability */
}

.site {
	position: relative;
}

.header {
	background-color: white;
	color: black;
}

.header-text {
	display: inline-block;
	font-size: 1.5em;
	margin: 0;
	padding: 0 10px 5px 10px;
}

a:link { /* I don't want anything else but the change of cursor */
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#site-title {
	font-size: 2.5em;
	background-color: black;
	color: white;
	transition: background-color 2s, color 2s; /* A neat little hover transition for the site logo */
}

#site-title:hover {
	background-color: white;
	color: black;
}

.video {
	background-color: black; /* Gives the video a more cinematic feel */
	text-align: center;
}

#video-file {
	width: 60%;
}

.content {
	margin: 2em 2em 2em 8em;
}

.flexed-row { /* While the blog was positioned with Grid, many elements of the video site use Flexbox */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-style: normal;
	margin-bottom: 1.5em;
}

.flexed-row > p {
	margin: 0;
}

.metrics {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; /* Align the metrics to the left */
	margin-bottom: 1.5em;
}

.metrics > div {
	margin-right: 1em;
}

#views {
	margin-right: 5em;
}

#like-button {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	content: url("like.png"); /* We use the content tag instead of embedding an image in the DOM because it's easier to switch out the image in the JS this way */
}

#share-button {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	content: url("share.jpg"); /* Plus it's guaranteed to obey the size we set here */
}

.title {
	font-size: 2em;
}

.date {
	font-style: italic;
}

.author {
	display: flex;
}

.author > p {
	margin-left: 10px;
}

#avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
